@import "tailwindcss";
@config "../tailwind.config.js";
/* ---------- Reset spacing ---------- */
@layer base {
  * {
    margin: 0;
    padding: 0;
  }
}

/* ---------- Light theme ---------- */
:root {
  /* Base */
  --background: #ffffff;
  --foreground: #111827;

  /* Brand */
--primary: #F7DB91;
  --primary-foreground: #ffffff;

  --secondary: #ffff00;
  --secondary-foreground: #ffffff;

  /* UI */
  --card: #fff7ed;
  --border: #e5e7eb;
  --muted: #6b7280;

  /* States */
  --success: #16a34a;
  --warning: #facc15;
  --error: #dc2626;
}

/* ---------- Dark theme ---------- */
.dark {
  /* Base */
  --background: #0f172a;
  --foreground: #f9fafb;

  /* Brand */
  --primary: #2e2e2e;
  --primary-foreground: #ffffff;

  --secondary: #e5e7eb;
  --secondary-foreground: #020617;

  /* UI */
  --card: #1e293b;
  --border: #334155;
  --muted: #94a3b8;

  /* States */
  --success: #22c55e;
  --warning: #fde047;
  --error: #ef4444;
}

/* ---------- Base styles ---------- */
body {
  background: var(--background);
  color: var(--foreground);

}


